.bg{
  background-color: #820263;
}
.nav-link:hover{
  background-color: #41D3BD;
}
.active{
  background-color: #F03A47;
}
.navbar{
  padding: 0;
}
.navbar-toggler:focus{
  box-shadow: none;
}
nav{
  height: 40px;
}
a.logreg{
  float: right;
}